$primary-font: 'Roboto', sans-serif;

//Font size project
$fontSmall: "14px";
$fontMedium: "15px";
$fontLarge: "16px";

//Color Project
$COLOR_WHITE: #FFFFFF;
$COLOR_BLACK: #474747;
$COLOR_TITLE_INPUT: #666666;
$COLOR_SECONDARY: #FF0000;
$COLOR_BG_BUTTON: #F5F5F5;
$COLOR_PRIMARY: #47AB48;

$BORDER_RADIUS: 5px;







